---
---

<nav>
    <a href="">Contact</a>
</nav>

<style>

    nav {
        display: flex;
        gap: var(--gap-small);
        justify-self: end;
    }

    a {
        font-weight: 700;
        font-size: var(--font-size-increased);
        letter-spacing: -0.04em;
        line-height: var(--header-line-height);
        text-decoration: none;
        color: var(--color-primary);
        transition: color 0.3s ease;
    }
    
    a:hover {
        color: var(--color-accent);
        transition: color 0.3s ease;
    }

</style>