/* Ticker Container */
.expanded-ticker-container {
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}

.expanded-ticker {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xx-small);
}

/* Ticker Rows */
.ticker-row {
  display: flex;
  white-space: nowrap;
  animation: scroll 86s linear infinite;
  gap: var(--gap-small);
  width: max-content;
}

/* Unique speeds for each row */
.ticker-row:nth-child(1) {
  animation-duration: 86s;
}

.ticker-row:nth-child(2) {
  animation-direction: reverse;
  animation-duration: 95s;
}

.ticker-row:nth-child(3) {
  animation-duration: 108s;
}

.ticker-row:nth-child(4) {
  animation-direction: reverse;
  animation-duration: 92s;
}

.ticker-row:nth-child(5) {
  animation-duration: 115s;
}

.ticker-row:nth-child(6) {
  animation-direction: reverse;
  animation-duration: 98s;
}

.ticker-row:nth-child(7) {
  animation-duration: 105s;
}

.ticker-row:nth-child(8) {
  animation-direction: reverse;
  animation-duration: 88s;
}

.feedback {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
}

.feedback-text {
  font-family: var(--header-font-family);
  font-style: italic;
  font-size: var(--header-size-small);
  color: var(--color-knockback);
}

/* Individual chips */
.chip {
  display: inline-block;
  /* padding: var(--gap-small) var(--gap-medium); */
  /* border-radius: 999px; */
  background: var(--color-secondary);
  /* border: 1px solid var(--color-knockback); */
  font-family: var(--header-font-family);
  font-style: italic;
  font-size: var(--header-size-medium);
  color: var(--color-primary);
  font-weight: 500;
  flex-shrink: 0;
}

/* Separator between chips */
.separator {
  color: var(--color-primary);
  font-family: var(--header-font-family);
  font-style: italic;
  font-size: var(--header-size-medium);
  font-weight: 500;
  flex-shrink: 0;
}

/* Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  
  .ticker-row {
    animation-duration: 64s;
  }
  
  /* Unique mobile speeds for each row */
  .ticker-row:nth-child(1) {
    animation-duration: 64s;
  }
  
  .ticker-row:nth-child(2) {
    animation-direction: reverse;
    animation-duration: 71s;
  }
  
  .ticker-row:nth-child(3) {
    animation-duration: 81s;
  }
  
  .ticker-row:nth-child(4) {
    animation-direction: reverse;
    animation-duration: 69s;
  }
  
  .ticker-row:nth-child(5) {
    animation-duration: 86s;
  }
  
  .ticker-row:nth-child(6) {
    animation-direction: reverse;
    animation-duration: 73s;
  }
  
  .ticker-row:nth-child(7) {
    animation-duration: 79s;
  }
  
  .ticker-row:nth-child(8) {
    animation-direction: reverse;
    animation-duration: 66s;
  }
}
